PED/TPs/TP5-SIP-XSD/sip.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="sip">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="meta">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="keyname" type="xs:string"/>
                            <xs:element name="title" type="xs:string"/>
                            <xs:element minOccurs="0" name="subtitle" type="xs:string"/>
                            <xs:element name="course" type="xs:string"/>
                            <xs:element name="class" type="xs:string"/>
                            <xs:element name="sdate" type="xs:date"/>
                            <xs:element minOccurs="0" name="edate" type="xs:date"/>
                            <xs:element name="supervisors">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="supervisor">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="name" type="xs:string"/>
                                                  <xs:element name="email" type="xs:string"/>
                                                  <xs:element name="webpage" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="workteam">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="member">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="name" type="xs:string"/>
                                                  <xs:element name="id" type="xs:string"/>
                                                  <xs:element name="email" type="xs:string"/>
                                                  <xs:element minOccurs="0" name="webpage"
                                                  type="xs:string"/>
                                                  <xs:element minOccurs="0" name="photo"
                                                  type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="abstract">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="1" name="p">
                                <xs:complexType mixed="true">
                                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                                        <xs:element name="i">
                                            <xs:complexType mixed="true">
                                                <xs:choice maxOccurs="unbounded" minOccurs="0">
                                                  <xs:element name="u">
                                                  <xs:complexType mixed="true">
                                                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                                                  <xs:element name="b" type="xs:string"/>
                                                  </xs:choice>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="b">
                                                  <xs:complexType mixed="true">
                                                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                                                  <xs:element name="u" type="xs:string"/>
                                                  </xs:choice>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="u">
                                            <xs:complexType mixed="true">
                                                <xs:choice maxOccurs="1" minOccurs="0">
                                                  <xs:element name="i">
                                                  <xs:complexType mixed="true">
                                                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                                                  <xs:element name="b" type="xs:string"/>
                                                  </xs:choice>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="b">
                                                  <xs:complexType mixed="true">
                                                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                                                  <xs:element name="i" type="xs:string"/>
                                                  </xs:choice>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="b">
                                            <xs:complexType mixed="true">
                                                <xs:choice minOccurs="0">
                                                  <xs:element name="i">
                                                  <xs:complexType mixed="true">
                                                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                                                  <xs:element name="u" type="xs:string"/>
                                                  </xs:choice>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="u">
                                                  <xs:complexType mixed="true">
                                                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                                                  <xs:element name="i" type="xs:string"/>
                                                  </xs:choice>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="acr">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="abv" type="xs:string"/>
                                                  <xs:element name="desc" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="xref">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                  <xs:attribute name="uri" type="xs:string"
                                                  use="required"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="files">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="file">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="path" type="xs:string"
                                                use="required"/>
                                            <xs:attribute name="format" type="xs:string"/>
                                            <xs:attribute name="checksum" type="xs:string"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
